body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #ff000026;
}

button {
  width: 30vw;
  height: 5vh;
  background: #e44f4f8f;
  border-radius: 8px;
  border: solid 3px #f4101040;
  font-family: cursive;
  font-size: 1.5vw;
  cursor: pointer;
  box-shadow: 2px 0px 16px 2px #0000006b;
}

button:hover {
  width: 31vw;
  height: 6vh;
  font-size: 1.6vw;
}
